---

yaml-files:
  - '*.yaml'
  - '*.yml'
  - '.yamllint'

extends: default

rules:
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
  brackets:
    max-spaces-inside: 1
  colons:
    max-spaces-after: -1
  commas:
    min-spaces-after: 1
    max-spaces-after: -1
  comments:
    require-starting-space: yes
    min-spaces-from-content: 1
  comments-indentation: no
  document-start:
    present: yes
  document-end:
    present: yes
  empty-lines:
    max: 1
  key-duplicates: enable
  line-length:
    max: 79
    allow-non-breakable-words: yes
  new-lines:
    type: unix
  octal-values:
    forbid-implicit-octal: yes
    forbid-explicit-octal: yes
  truthy:
    allowed-values: ['yes', 'no']
    check-keys: no
    ignore: >-
      .github/workflows

...
