---

- name: install canary opt-in scripts
  ansible.builtin.template:
    src: '{{ item.src }}'
    dest: '{{ item.dest }}'
    follow: no
    owner: root
    group: root
    mode: 0644
  with_items:
    - src: 'bash-opt-in.j2'
      dest: '{{ __lmod_init_bash_path }}'
    - src: 'csh-opt-in.j2'
      dest: '{{ __lmod_init_csh_path }}'

...
