---

- name: remove opt-in skeleton files
  ansible.builtin.import_tasks: canary-rm-opt-in-skel.yml

- name: create shell configuration symlinks
  ansible.builtin.file:
    src: '{{ __lmod_install_link }}/init/{{ item.src }}'
    dest: '{{ item.dest }}'
    owner: root
    group: root
    state: link
    force: yes
  with_items:
    - src: 'profile'
      dest: '{{ __lmod_init_bash_path }}'
    - src: 'cshrc'
      dest: '{{ __lmod_init_csh_path }}'

...
