---

- name: create lmod etc directory
  ansible.builtin.file:
    path: '{{ __lmod_base_dir }}/etc'
    state: directory
    owner: root
    group: root
    mode: 0755
  when: >
    lmod_admin_messages is defined

- name: install admin file
  ansible.builtin.template:
    src: admin.list.j2
    dest: '{{ __lmod_base_dir }}/etc/admin.list'
    owner: root
    group: root
    mode: 0644
  when: lmod_admin_messages is defined

...
