---

# The following is based on https://linuxize.com/post/how-to-install-xrdp-on-ubuntu-18-04
- name: Wait for any possibly running unattended upgrade to finish
  raw: systemd-run --property="After=apt-daily.service apt-daily-upgrade.service" --wait /bin/true

- name: install lmod dependencies
  apt:
    name: '{{ lmod_os_packages | join(",") }}'

# see https://github.com/TACC/Lmod/commit/1d15717144f595b9a09e8421aa00b5dead3ed21d
- name: fix lua-posix on Ubuntu 18.04
  file:
    src: /usr/lib/x86_64-linux-gnu/liblua5.3-posix.so
    dest: /usr/lib/x86_64-linux-gnu/lua/5.3/posix.so
    state: link
  when: ansible_distribution_release == 'bionic'

...
