---

# https://github.com/ansible/ansible/issues/25414#issuecomment-440549135
- name: wait for any possibly running unattended upgrade to finish # noqa 301
  ansible.builtin.command: >-
    systemd-run
      --property="After=apt-daily.service apt-daily-upgrade.service"
      --wait /bin/true

- name: install lmod dependencies
  ansible.builtin.apt:
    name: '{{ lmod_os_packages | join(",") }}'

# https://github.com/TACC/Lmod/commit/1d15717144f595b9a09e8421aa00b5dead3ed21d
- name: fix lua-posix on Ubuntu
  ansible.builtin.file:
    src: /usr/lib/x86_64-linux-gnu/liblua5.3-posix.so
    dest: /usr/lib/x86_64-linux-gnu/lua/5.3/posix.so
    state: link
  when: >-
    __lmod_os_release == 'ubuntu-bionic'
    or
    __lmod_os_release == 'ubuntu-focal'

...
