---

name: ansible

on:
  pull_request:
  push:
    branches:
      - main
      - wip/next

jobs:

  ansible-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ansible/ansible-lint@v25

  molecule:
    needs:
      - ansible-lint
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        distro:
          - name: debian-bullseye
            ansible: '2.18'
            python: '>=3.11 <3.14'
          - name: debian-bookworm
            ansible: '2.18'
            python: '>=3.11 <3.14'
          - name: rockylinux-8
            ansible: '2.16' # latest to support target python 3.6
            python: '>=3.10 <3.13'
            community_general: '<12.0.0' # 12+ needs ansible 2.17
          - name: rockylinux-9
            ansible: '2.18'
            python: '>=3.11 <3.14'
          - name: ubuntu-focal
            ansible: '2.17' # 2.18: TypeError: unsupported operand type(s) for |:
                            # '_Environ' and 'dict'
            python: '>=3.10 <3.13'
          - name: ubuntu-jammy
            ansible: '2.18'
            python: '>=3.11 <3.14'
          - name: ubuntu-noble
            ansible: '2.18'
            python: '>=3.11 <3.14'
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.distro.python }}
      - run: >-
          pip3 install
          ansible-core~=${{ matrix.distro.ansible }}.0
          docker
          molecule
          molecule-plugins[docker]
      - run: ansible --version
      - run: molecule --version
      - name: install specific community.general collection version
        if: matrix.distro.community_general
        run: >-
          ansible-galaxy collection install
          'community.general:${{ matrix.distro.community_general }}'
      - run: >-
          molecule test
          -p ${{ matrix.distro.name }}
        env:
          ANSIBLE_DIFF_ALWAYS: 'True'
          PY_COLORS: '1'

...
